body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



/*User Info Display*/
.infobox
{
  display: flex;
  justify-content: center;
  position: relative;
  top: calc(5vh);
  background-color: rgba(240, 240, 240, .9);
}

.infotab
{
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.userinfo a
{
  text-decoration: underline;
  font-family: "Montserrat";
  background-color: rgba(240, 240, 240, .9);

}

.userinfo
{
  text-decoration: none;
  font-family: "Montserrat";
  font-size: calc(2vw);
    margin: 0 auto;
}
