body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*NAV BAR*/
.nav-bar {
  position: fixed;
  width: 100%;
}

.nav-links {
  display: flex;
  flex: row;
  height: calc(5vh);
  width: 100%;
  background: rgba(255, 0, 0, 1);
}

.nav-bar a {
  text-decoration: none;
  font-family: "ZCOOL KuaiLe";
  font-size: calc(2vw);
}

.nav-bar h1 {
  padding-left: 50px;
  text-decoration: none;
  font-family: "ZCOOL KuaiLe";
  margin-top: 0rem;
  font-weight: 100;
}

.nav-bar h1:hover {
  text-shadow: 2px 2px rgba(0, 255, 0, 1);
}

.nav-btn {
  text-decoration: none;
  font-family: "ZCOOL KuaiLe";
  list-style-type: none;
  color: black;
  margin-left: 2rem;
  transition: all 200ms;
}

.nav-btn:hover {
  transform: scale(1.1);
}

/*FORM*/
.formBox {
  display: flex;
  justify-content: center;
  background-size: cover;
}

.formPhoto {
  top: 50px;
  position: absolute;
  height: auto;
  width: auto;
  height: calc(99vh - 50px);
}

.formBackground {
  top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.form p {
  font-size: .7rem;
  font-family: "Montserrat";
}

.label p {
  font-size: .8rem;
  font-family: "Montserrat";
}

.label a {
  text-decoration: underline;
}

.form {
  font-size: 1.7rem;
  top: calc(10vh);
  border: 1px solid red;
  padding: 100px;
  position: relative;
  text-decoration: none;
  font-family: "ZCOOL KuaiLe";
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(240, 240, 240, .9);
}

.error {
  font-size: 1.5rem;
  font-family: "Montserrat";
  text-decoration: underline;
}

.input {
  outline: none;
  width: 100%
}
