/*Jungalo Style*/
body{
  margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}



/*NAV BAR*/
.nav-bar{
  width: 100%;
}

.nav-links{
  display: flex;
  flex: row;
  height: 50px;
  width: 100%;
  background: rgba(255, 0, 0, .7);
}


.nav-bar a {
  text-decoration: none;
  font-family: 'ZCOOL KuaiLe';
  font-size: 3rem;
  font-weight: 100;

}

.nav-bar h1{
  padding-left: 50px;
  text-decoration: none;
  font-family: 'ZCOOL KuaiLe';
  margin-top: 0rem;
  font-size: 3rem;
  font-weight: 100;
}


.nav-bar h1:hover{
     text-shadow: 2px 2px rgba(0,255,0,1);
}

.nav-btn{
  text-decoration: none;
  font-family: 'ZCOOL KuaiLe';
  list-style-type: none;
  color: black;
  margin-left: 2rem;
  transition: all 200ms;
}

.nav-btn:hover{
  transform: scale(1.1);
}




/*Inscribings "Hero"*/

.tabs{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'ZCOOL KuaiLe';
}


.inscribingText h1{
  background-color: rgba(240, 240, 240, .9);
  width: auto;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'ZCOOL KuaiLe';
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  font-size: 2rem
}

.inscribingText{
  height: calc(99vh - 100px);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(44, 62, 80,.6), rgba(44, 62, 80,.6)), url("rexcoloredfull.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}




/*Photo Gallery*/


.cavemanPhotos{
  text-decoration: none;
  margin-top: 1rem;
  font-family: 'ZCOOL KuaiLe';
  display: flex;
  flex-direction: column;
  height: calc(430vh);
  width:100%;
  align-items: center;
  background: linear-gradient(rgba(100, 62, 80,.6), rgba(100, 62, 80,.6));
}


.cavemanPhoto{
  text-decoration: none;
  font-family: 'ZCOOL KuaiLe';
  width:75%;
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
}


.cavemanPhoto a{
  font-size: 4rem;
  border: 20px solid rgba(190,0,0,.4);
  border-radius: 30px;
  align-items: center;
}


.cavemanPhoto a:hover{

    transform: scale(1.1);
    transition: all 300ms;
}



/*Good Links*/


.goodlinks{
  font-size: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: 'ZCOOL KuaiLe';
  height: calc(100vh - 50px);
  width: 100%;
  margin-top: 1rem;
  background: linear-gradient(rgba(30, 62, 80,.6), rgba(30, 62, 80,.6));
}

.jungalolink{
  margin: 1rem;
  background-color: rgba(255, 0, 0, .7);
  border-radius: 40px;
  padding: 20px;
  font-size: 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'ZCOOL KuaiLe';
  width: 33%;
}

.jungalolink a{
  padding: 50px;
}

.jungalolink a:hover{

    transform: scale(1.3) rotate(5deg) translateX(10px);
}

.cutrow{
  width:100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.goodwill {
  text-shadow: 6px 6px rgba(5,0,255,.4);
}

.goatworth{
    text-shadow: 6px 6px rgba(5,150,2,.7);
}

.ILEFTTHEMASONS{
  text-shadow: 6px 6px rgba(150,200,0,.6);
}

.xented{
  text-shadow: 6px 6px rgba(200,0,0,.5);
}

.textscrambler{
  text-shadow: 6px 6px rgba(150,50,200,.4);
}
