/*
 * The Nav Bar 
 * id navbar
 * Fixed on the page
 * Highest Z index
 * Border When Hidden
 * flex -> direction column

 */

#navbar {
  width: 103px;
  position: fixed;
  height: 100vh;
  z-index: 10;
  border-left: 3px solid darkblue;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}



/* Nav Bar Icon 
 * Has an icon Image that is 100px by 100px 
 * Image should have 10px padding on the top and bottom
 * Total Area of an NavBar Icon is 120px by 100px
 *
 */
.navbarIcon {
  height: 120px;
  display: flex;
  flex: center;
  flex-direction: column;
  max-height: 120px;
  color: whitesmoke;
  justify-content: center;
}

.navbarIcon h5 {
  color: inherit;
  margin: 0;
  padding: 0;
}

.navbarIcon img {
  width: 0px;
  max-width: 100px;
  max-height: 100px;
}



/* h5 Style
 * hides and shows h5
 *
 */

.navbarIcon h5 {
  visibility: hidden;
  z-index: 1;
  background-color: black;
  border-radius: 10px;
  border: 3px groove red;

}


/* When the navbar is hovered over it shows the h5
 */
.navbarIcon:hover h5 {
  visibility: visible;
}


/*Enlarges the navbar icons when hovered over*/
.navbarIcon:hover img {
  transform: scale(1.3) rotate(0deg) translateY(5px);
}