body {
    font-family: 'ZCOOL KuaiLe';
    background-color: grey;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    width: 100vw;

}

:root {
    --standardOutlineColor: rgba(0, 72, 229, 0.7);
}





/*Style For Map Page*/


/*Canvas*/

#mapCanvas {
    border: 3px solid whitesmoke;
    background-color: white;
    margin: auto;
}

#mapDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

#draggable {
    cursor: move;
}

/*Controls Style*/

#mapControls {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 10px;
    background-color: darkslategray;
    border: 4px solid black;
    min-width: 50vw;
    margin: auto;
}

#mapCoordinateInput {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: wrap;

}

#goButton {
    background: greenyellow;
}


/*New Style Please comment*/


/* Header Styles*/

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}


.error {
    color: red;
}

.success {
    color: lawngreen;
}


/*General Purpose Style Outlines*/

.overflowContainer {
    margin: auto;
    max-height: 100%;
    overflow-y: scroll;
}


.form {
    background-color: darkslategray;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: space-evenly;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    min-height: 50vh;
    padding-bottom: 10%;
    width: 100%;
}

.navigationBar {
    width: 103px;
    position: fixed;
    height: 100vh;
    z-index: 10;
    border-left: 3px solid rebeccapurple;
    padding: 0;
    margin: 0;
}


/*
 * Flex Outlines
 *
 */

.wrap {
    flex-wrap: wrap;
}

.flexRowSpaceEvenly {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}


.flexColumnSpaceEvenly {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.flexColumnSpaceAround {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.flexRowSpaceAround {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}


/*
 * Space Outlines
 *
 */


.autoMargin {
    margin: auto;
}

.fill {
    width: 100%;
    height: 100%;
}

.allViewHeight {
    height: 100vh;
}

.halfViewHeight {
    height: 50vh;
}


.widthFifty {
    width: 50%;
}

.widthHeightFiftyPercent {
    width: 50%;
    height: 50%;
}

.widthOneHundred {
    width: 100%;
}

.widthHeightOneHundredPixels {
    width: 100px;
    height: 100px;
}

.widthOneHundredPixels {
    width: 100px;
}

.widthHeightFiftyPixels {
    width: 50px;
    height: 50px;
}

.paddingTen {
    padding: 10px;
}

.paddingFifty {
    padding: 50px;
}


/*Easy hidden Label System*/

.hiddenLabel {
    visibility: hidden;
    z-index: 1;
}

.parentHider:hover .hiddenLabel {
    visibility: visible;
}

/* Button Functionality / Styles */

.hoverButton:hover {
    transform: scale(1.1) rotate(0deg) translateY(1px);
}

.imageButton:hover {
    transform: scale(1.1) rotate(0deg) translateY(1px);
}

.backgroundButton:hover {
    background-color: grey;
}


/* Standard Outlines */


.alternativeOutline {
    background-color: rgba(135, 135, 135, 0.7);
    border-radius: 10px;
    border: 3px groove gold;
}

.standardOutline {

    background-color: black;
    border-radius: 10px;
    border: 3px groove var(--standardOutlineColor);
}

.standardOutlineWhiteBackGround {

    background-color: white;
    border-radius: 10px;
    border: 3px groove var(--standardOutlineColor);
}

.differentialOutLine {
    background-color: white;
    border: 3px groove gold;
    color: black;
    padding: 10px;
}


.formHolder {
    background-color: #5a6358;
    width: 100%;
    min-height: 100vh;
}


/*User Page Specific Styles*/


.logOutDiv {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 10px;
}

.logOutDiv:hover {
    background-color: grey;
}


/*Load Animation */

.loadAnimationContainer {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.twoCircles {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 2px;
    align-items: center;
}

.redCircle {
    border: 5px solid red;
    background-color: red;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.blueCircle {
    border: 5px solid blue;
    background-color: blue;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.yellowCircle {
    border: 5px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.loadAnimation {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);

    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}


/*Positioning Outlines*/

/*Absolute Outlines*/

.relative {
    position: relative;
}

.absolute {

    position: absolute;
}


/*
 * The Container That Holds Every Thing
 * Max Width is 1080px
 * Displays Flex in Direction Column
 */


#contentContainer {
    background-color: #40473f;
    max-width: 1080px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: 100vh;
}

#navBarContainer {
    max-width: 1080px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#userContent {
    position: relative;
    align-items: flex-start;
    margin-left: 120px;
    min-height: 100%;
}


/*Style for the USER PAGE*/


#usernameRestraintsDiv {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 2fr 1fr 1fr;

}


#tablesDiv {
    display: grid;
    align-items: center;
    justify-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    width: 100%;
    min-height: 200px;
}


.tab {
    min-height: 150px;
    min-width: 300px;
    height: 100px;
    width: 30%;
    padding: 30px;
}

.tab > div {
    min-height: 150px;
}

.tab h1 {
    padding: 10px;
    font-size: 90%;
}


.tableDiv {
    width: 200px;
    height: 100px;
    position: relative;
}

.tableDiv .editImg {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 30px;
    height: 30px;

}

.tableDiv .editImg:hover {
    transform: scale(1.1) rotate(0deg) translateY(1px);
}

.tableDiv .nameTag {
    position: absolute;
    color: black;
    left: 3px;
    top: 3px;
}

.tableDiv .creatorTag {
    position: absolute;
    color: black;
    left: 3px;
    bottom: 3px;
}


#editTableForm {
    height: 75vh;
    padding-bottom: 30px;
    width: 90%;
    overflow-y: scroll;
}

#tablePermissions {
    width: 95%;
    height: 300px;
}

#permissionsTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    width: auto;
    row-gap: 25px;
    column-gap: 25px;
    color: black;
}




