/*Style for the USER PAGE*/

/*Style reused for each form*/
#userContent {
    position: relative;
    align-items: flex-start;
    margin-left: 120px;
    min-height: 100%;
}

#userContent .form {
    background-color: darkslategray;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: space-evenly;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    min-height: 50vh;
    padding-bottom: 10%;
    width: 100%;
}

.inputDiv {
    padding: 10px;
}

.form h3 {
    color: red;
}

.form a {
    color: inherit;
}


/*Style For the SIGNUP Form*/

#signUpForm {
    background-color: darkolivegreen;
    min-height: 95vh;
}

/* h5 Style
 * hides and shows h5
 *
 */

#usernameRestraintsDiv {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr;

}

#usernameRestraintsDiv h5 {
    visibility: hidden;
    z-index: 1;
    background-color: black;
    border-radius: 10px;
    border: 3px groove red;
    max-width: 100px;
    margin: 10px;
}


/* When the usernameRestraintsDiv is hovered over it shows the h5
 */
#usernameRestraintsDiv:hover h5 {
    visibility: visible;
}


/*Activation Form Style*/

#accountActivationFrom {
    background-color: darkolivegreen;
    min-height: 95vh;
    min-width: 50%;
}

#sendActivationCodeDiv {
    border-radius: 10px;
    background-color: black;
    border: 3px groove red;
    padding: 10px;

}

#sendActivationCodeDiv:hover {
    background-color: grey;
}


/*LOGIN FORM STYLE*/

#loginForm {
    background-color: darkolivegreen;
    min-height: 95vh;
    min-width: 50%;
}


#formNavigationDiv {
    border-radius: 10px;
    background-color: black;
    border: 3px groove red;
    padding: 10px;

}


#formNavigationDiv:hover {
    background-color: grey;
}


/* USER FROM STYLE */
#userContentForm {

    background-color: darkolivegreen;
    min-height: 100vh;
    width: 100%;
}


.tableIcon {
    border: 3px groove red;
    background-color: white;
    border-radius: 20%;
    width: 100px;
    height: 100px;
}

#usernameHeader {
    border-radius: 10px;
    background-color: black;
    border: 3px groove red;
    width: 100%;

}

#logOutDiv {
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
    background-color: black;
    border: 3px groove red;
    padding: 10px;
}

#logOutDiv:hover {
    background-color: grey;
}

#activationStatus {
    position: absolute;
    right: 5px;
    bottom: 50%;
    visibility: hidden;
    border-radius: 10px;
    background-color: black;
    border: 3px groove red;
    padding: 10px;
    max-width: 150px;
}

#activationStatus:hover {
    background-color: grey;
}

#tableControls {
    width: 100%;
}

#tableControls img {
    width: 100px;
    height: 100px;

}

#createDiv img:hover {
    transform: scale(1.1) rotate(0deg) translateY(1px);
}

#createDiv h4 {
    visibility: hidden;
    z-index: 1;
    background-color: black;
    border-radius: 10px;
    border: 3px groove red;
}

#createDiv:hover h4 {
    visibility: visible;
}


#tablesDiv {
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
    background-color: black;
    border: 3px groove red;
    width: 100%;
    min-height: 200px;
}

.tableDiv {
    width: 200px;
    height: 100px;
    background-color: white;
    border: 3px groove red;
    position: relative;
}

.tableDiv .editImg {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 30px;
    height: 30px;

}

.tableDiv .editImg:hover {
    transform: scale(1.1) rotate(0deg) translateY(1px);
}

.tableDiv .nameTag {
    position: absolute;
    color: black;
    left: 3px;
    top: 3px;
}

.tableDiv .creatorTag {
    position: absolute;
    color: black;
    left: 3px;
    bottom: 3px;
}

#createTableDiv {
    min-width: 50vw;
    width: auto;
    height: 75%;
    position: absolute;
    background-color: black;
    border-radius: 10px;
    border: 3px groove red;
}


#createTableDiv select {
    width: auto;
}

#tableNameError {
    color: red;
}

#tableNameConstraints {
    border-radius: 10px;
    border: 3px groove red;
    padding: 10px;

}


#editTableForm {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    border: 3px groove blue;
    height: 75vh;
    padding-bottom: 30px;
    width: 90%;
    overflow-y: scroll;
}

#tablePermissions {
    width: 95%;
    height: 300px;
}

#permissionsTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    width: auto;
    row-gap: 25px;
    column-gap: 25px;
    background-color: white;
    border: 3px groove red;
    color: black;
}

.overflowContainer {
    margin: auto;
    max-height: 100%;
    overflow-y: scroll;
}


#permissionsTable img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.statusIcon {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.statusIcon:hover {
    transform: scale(1.1) rotate(0deg) translateY(1px);
}

#tablePermissions img:hover {
    transform: scale(1.1) rotate(0deg) translateY(1px);
}


#signRequestForm {
    background-color: white;
    border: 3px groove gold;
    color: black;
    padding: 10px;

}
